body{
	font-family: "Mark OT";
}

#copd_container{
/*	display: inline-block;*/
}
#copd_map{
	width:60%;
	background: transparent;
	height:70vh;
}

#stats_container{
	/*display: inline-block;*/
	width: 40%;
	height: 70vh;
	float: left;
	/*border: solid 2px black;*/
}
#tooltip {
	background:#fff;
	padding:10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	position:absolute;
	border:1px solid #ececec;
}
#copd_app select {
	/*display:none;*/
}

#graph_container{
	height: 50%;
	width: 100%;
	/*border: solid 2px blue;*/
}
#ranking_container{
	height: 50%;
	width: 100%;
	/*border: solid 2px red;*/
}

#graph_text{
	font-size: 16px;
	font-weight: 600;
	color: #00507E;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#graph_subtext{
	font-size: 14px;
}
#graph_subtext_percentage{
	font-size: 18px;
	color: #F18825;
}
#graph_bar_wrapper{
	margin-top: 50px;
	height: 52px;
	width: 100%;
	border-left: solid 1px grey;
	border-right: solid 1px grey;
}
#graph_bar{
	position: relative;
	top: 10px;
	height: 30px;
	width: 0;
	background-color: #00639E;
	transition: .5s all;
}

#ranking_smoking, #ranking_copd {
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	margin: 10px;

	color: #F18825;
	text-align: center;
	font-weight: 600;
	font-size: 20px;

	border: solid 5px #00639E;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

@media screen and (max-width:639px) {
	#copd_app select {
		display: block;
	}
	#copd_app #copd_map {
		display:none;
	}
	#stats_container{
		width: 100%;
	}
}