body{
	font-family: "Mark OT";
}

#copd_container{
/*	display: inline-block;*/
}
#copd_map{
	width:50%;
	background: transparent;
	height:80vh;
}

#stats_container{
	/*display: inline-block;*/
	width: 50%;
	height: 80vh;
	float: left;
	/*border: solid 2px black;*/
}
#tooltip {
	background:#fff;
	padding:10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	position:absolute;
	border:1px solid #ececec;
}
#copd_app select {
	/*display:none;*/
}
@media screen and (max-width:639px) {
	#copd_app select {
		display: block;
	}
	#copd_app #copd_map {
		display:none;
	}
}
#graph_container{
	height: 50%;
	width: 100%;
	/*border: solid 2px blue;*/
}
#ranking_container{
	height: 50%;
	width: 100%;
	/*border: solid 2px red;*/
}

#graph_bar{
	margin-top: 10px;
	height:50px;
	width: 0;
	background-color: #00639E;
	transition:.5s all;
}

#graph_subtext_percentage{
	color: #F18825;
}

#ranking_smoking, #ranking_copd {
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	margin: 10px;

	color: #F18825;
	text-align: center;
	font-weight: 600;
	font-size: 20px;

	border: solid 5px #00639E;
	-moz-border-radius: 45px;
	border-radius: 45px;
}
